#score-pos {
    background-color: green;
}
#score-mid {
    background-color: yellow;
}
#score-neg {
    background-color: red;
}
.score-item {
    margin: auto;
    text-align: center;
    font-size: 72;
}
.score-column {
    display: flex;
}
.action-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-button {
    margin: auto;
}

.tag-level-3 {
    background-color: green;
}
.tag-level-1 {
    background-color: yellow;
}
.tag-level--3 {
    background-color: red;
}