<h1>Home</h1>

<% if user_signed_in? %>
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= line_chart @timeline_events %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Event Timeline<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Event Timeline<i class="material-icons right">close</i></span>
      <p>This chart shows how many events, by type, occurred on each day over the last 21 days.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= pie_chart @current_state_breakdown %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Event Type Breakdown<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Event Type Breakdown<i class="material-icons right">close</i></span>
      <p>This chart is a breakdown of the number of times each event type has occurred. Note that this is only a breakdown of all events, and does not consider events that may be part of the same lead.</p>
    </div>
  </div>
<% end %>