# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\repo\ARMmaster17\jskr\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
